
/*----------RESET------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------HEADER----------*/
header {
background-color:black;


} 
.hero {
    color:black;
    background-color:#ffffff85 ;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 35px;
}

.algunasReparaciones {
    background-color: lightgray;
    color: black;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}
.algunasReparaciones p {
    color: black;
} 
.algunasReparaciones ul{
    width: 100%;
    text-align: center;
}
.algunasReparaciones ul li {
    margin: 10PX;

}

.redes {
    background-color:lightgray ;
    display: inline-block;
    margin-top: auto;
}
.redes p {
    color: black;
    font-size: 20px;
}

.imagenesRedes a img{
    width: 150px;
    border-radius: 15px;
}
.imgFacebook{
    border: 3px solid black;
}
#paginaDeInicio {
    color: black;
    text-align: center;
    font-size: 30px;
    border: 3px solid black;
    margin: 0;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*-boostrap -*/
header nav div a img {
    width: 100px;
    height: 60px;
    border-radius: 20px;
    border: 3px solid black;
}
header nav {
    background-color: #ffffffa1;
}
/*-boostrap fin-*/
header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin: 40px;
    
}
header nav ul li a  {
    padding: 5px 15px 5px 15px;
    color: white;
    background-color:rgb(48, 48, 48) ;
    text-decoration: none;
    border-radius: 20px;
    
    
}

/*---------MAIN---------*/

#contactoPrecios {
    
    color: black;
}
.precios {
    color: white;
    
}


.tablaPrecios {
    margin: 40px 40px 40px 0px;
    text-align: center;
    width: 100%;
    color: white;
}
.tablaPrecios tr td{
    
    border: 1px solid black;
    
}
td {
    padding: 10px;
}
.tablaPrecios tr th {
    color: black;
    background-color: white;
    border: 3px solid black;
}
main div p {
    color: white;
    text-align: center;
}
main section img {
    margin: 10px;
}
main {
    background-attachment: fixed;
    text-align: center;
    /*-background-image: url(../img/capacitor.jpg);-*/
    background-color: #a1a1a1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    color: black;
    background-color: #ffffff;
    border: 3px solid black;
    }

/*---------FOOTER---------*/
footer {
    
    background-color: black;
    color: white;
    border: 3px solid white;
    margin-top: auto;
}
footer div h2 {
    color: black;
    font-size: 60px;
    text-align: center;
    margin: 0;
}
/*-grid-*/
.imgsIndex {
    display: grid;
    grid-template-columns: repeat (1fr 1fr 1fr);
    grid-template-rows: auto ;
    grid-template-areas: 
    "samsung auriculares lavarropas"
    "xiaomi focos lintern"
    ;
}
.focos {
    grid-area: focos;
}
.lavarropas {
    grid-area: lavarropas;
}
.auriculares {
    grid-area: auriculares;
}
.xiaomi {
    grid-area: xiaomi;
}
.samsung {
    grid-area: samsung;
}
.lintern {
    grid-area: lintern;
}
.lintern img {
    width: 280px;
    height: 319px;

}
/*---MEDIA QUERY---*/
@media screen and (max-width: 1349px){
    .imgsIndex {
        display: grid;
        grid-template-columns: repeat (1fr 1fr);
        grid-template-rows: auto ;
        grid-template-areas: 
        "samsung  lavarropas"
        "xiaomi focos "
        "auriculares lintern"
        ;
    }
    .focos {
        grid-area: focos;
    }
    .lavarropas {
        grid-area: lavarropas;
    }
    .auriculares {
        grid-area: auriculares;
    }
    .auriculares img {
        
        width: 280px;
        height: 319px;
    }
    .xiaomi {
        grid-area: xiaomi;
    }
    .samsung {
        grid-area: samsung;
    }
    .lintern {
        grid-area: lintern;
    }
    .lintern img {
        width: 280px;
        height: 319px;
    
}
@media screen and (max-width: 1235px){
    .imgsIndex {
        display: grid;
        grid-template-columns: repeat (1fr 1fr);
        grid-template-rows: auto ;
        grid-template-areas: 
        "samsung  lavarropas"
        "xiaomi focos "
        "auriculares lintern"
        ;
    }
    .focos {
        grid-area: focos;
    }
    .lavarropas {
        grid-area: lavarropas;
    }
    .auriculares {
        grid-area: auriculares;
    }
    .auriculares img {
        
        width: 280px;
        height: 319px;
    }
    .xiaomi {
        grid-area: xiaomi;
    }
    .xiaomi h2 {
        font-size: 1.9rem;
    }
    .samsung {
        grid-area: samsung;
    }
    .lintern {
        grid-area: lintern;
    }
    .lintern img {
        width: 280px;
        height: 319px;
    
}
}

@media screen and (max-width: 903px){
    .imgsIndex {
        display: grid;
        grid-template-columns: repeat (1fr);
        grid-template-rows: auto ;
        grid-template-areas: 
        "samsung "
        "lavarropas"
        "xiaomi"
        "focos "
        "auriculares"
        "lintern"
        ;
    }
    .focos {
        grid-area: focos;
    }
    .focos img {
        
        width: 310px;
        height:410px;
    }
    
    .lavarropas {
        grid-area: lavarropas;
    }
    .lavarropas img{
        
        width: 310px;
        height:410px;
    }
    .auriculares {
        grid-area: auriculares;
    }
    .auriculares img {
        width: 310px;
        height:410px;
    }
    
    .xiaomi {
        grid-area: xiaomi;
    }
    .xiaomi h2 {
        font-size: 1.9rem;
        border: 3px solid black;
    }
    .xiaomi img{
        width: 310px;
        height:410px;
    }
    .samsung {
        grid-area: samsung;
    }
    .samsung img{
        width: 310px;
        height:410px;
    }
    .lintern {
        grid-area: lintern;
    }
    .lintern img {
        width: 290px;
        height:390px;
    }
    footer div h2 {
        font-size: calc(1.3rem);
        background-color: black;
        color: white;
        border: 3px solid white;
    }
    .mapa {
        width: 280px;
        height: 320px;
        text-align: center;
    }
    
main div img {
    width: 280px;
    height: 210px;
    margin: 0;
}
}}