footer{ 
    background-color: black;
    color: white;
    border: 3px solid white;
    margin-top: auto;
    div {
        h3 {
            color: black;
            background-color: #ffffff ;
            border: 3px solid black;
            font-size: calc(3.3rem);
            text-align: center;
            margin: 0;
        }
    }
}