header {background-color:black;
    nav {    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #ffffffa1;
        div {
                a {
                    img {
                        width: 100px;
                        height: 60px;
                        border-radius: 20px;
                        border: 3px solid black;
                        box-shadow: 2px 2px 10px;
                        transition-duration: 0.5s;}
                        img:hover{
                            width: 110px;
                        }
                    }
            }}
    div{
        #paginaDeInicio {
        color: black;
        text-align: center;
        font-size: 30px;
        border: 3px solid black;
        margin: 0;
        background-color: #ffffff;
    
        }
        
    }}