main{
    background-attachment: fixed;
    text-align: center;
    /*-background-image: url(../img/capacitor.jpg);-*/
    background-color: #a1a1a1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #3e3e3e 53%, #999999 100%);
    section{
        width: 90%;
        padding: 20px;
        margin: 0px auto 40px auto;
        background-color: #cccaca57;
        border-radius: 5px;
        box-shadow: 5px -3px 13px;
        border: 2px solid black;
        .mb-3 {
            .form-label{
                color: white;
            }
            input{
            border: 1.8px solid black
            }
            textarea{
            border: 1.8px solid black
            }
            .botones{
                
                padding: 0px 5px 0px 5px;
                transition-duration: 0.4s;
            }
            .botones:hover{
                color: white;
                background-color: blue;
            }
    }
    }
    div{
        h2{
            margin: 25px 10px 35px 10px;
        }
    }
        p{
            color: white;
            text-align: center;
            font-size: 1.3rem;
        }
        div{
        iframe {
        box-shadow: 5px -3px 13px;
        border: 2px solid black;
        }}
        .diploma{
            box-shadow: 5px -3px 13px;
            border: 2px solid black;
        }
    
    section{
        img{
        margin: 10px;
        }
    }
    .algunasReparaciones{
        background-color: lightgray;
        color: black;
        margin: 20px;
        font-size: 20px;
        text-align: center;
        box-shadow: 5px -3px 13px;
        border: 2px solid black;
        ul{
            width: 100%;
            text-align: center;
            li{
                margin: 10PX;
                list-style: none;
            }
        }
        p{
            color: black;
            margin: 10px;
            #contactoPrecios{
                color: black;}
        }
    }
    .redes{
        background-color:lightgray ;
        display: inline-block;
        margin-top: auto;
        box-shadow: 5px -3px 13px;
        border: 2px solid black;
        margin: 20px;
        p{
            color: black;
            font-size: 20px;
            margin: 10px;
        }
    }
    .imagenesRedes{
        a{
            .imgFacebook{
                border: 3px solid black;
                width: 150px;
                border-radius: 15px;
                transition-duration: 0.5s;
            }
            .imgFacebook:hover{
                width: 175px;
                height: 175px;
            }
            img{
                width: 150px;
                border-radius: 15px;
                transition-duration: 0.5s;
            }
            img:hover{
                width: 180px;
                height: 180px;
            }
        }
    }
    #contactoPrecios{
        color: black;
    }
    .redes{
    background-color:lightgray ;
    display: inline-block;
    margin-top: auto;
    box-shadow: 5px -3px 13px;
    border: 2px solid black;
        p{
            color: black;
            font-size: 20px;
        }
    }
    .precios{
    color: white;
    }
    .tablaPrecios{
        margin: 40px 40px 40px 0px;
        text-align: center;
        width: 100%;
        color: white;
        tr{
            td{
                border: 1px solid black;
            }
            th{
                color: black;
                background-color: white;
                border: 3px solid black;}
        }
    }
    .imgsIndex{
        display: grid;
        grid-template-columns: repeat (1fr 1fr 1fr);
        grid-template-rows: auto ;
        grid-template-areas: 
        "samsung auriculares lavarropas"
        "xiaomi focos lintern"
        ;
        .focos{
            grid-area: focos;
            h2{
                color: black;
                background-color: white;
                border: 3px solid black;
                margin: 0;
            }
            img{
                box-shadow: 5px -3px 13px;
                border: 2px solid black;
            }
        }
        .lavarropas{
            grid-area: lavarropas;
            h2{
                color: black;
                background-color: white;
                border: 3px solid black;
                margin: 0;
            }
            img{
                box-shadow: 5px -3px 13px;
                border: 2px solid black;
            }
        }
        .auriculares{
            grid-area: auriculares;
            h2{
                color: black;
                background-color: white;
                border: 3px solid black;
                margin: 0;
            }
            img{
                box-shadow: 5px -3px 13px;
                border: 2px solid black;}
        }
        .xiaomi{
            grid-area: xiaomi;
            h2{
                color: black;
                background-color: white;
                border: 3px solid black;
                margin: 0;
            }
            img{
                box-shadow: 5px -3px 13px;
                border: 2px solid black;}
        }
        .samsung{
            grid-area: samsung;
            h2{
                color: black;
                background-color: white;
                border: 3px solid black;
                margin: 0;
            }
            img{
                box-shadow: 5px -3px 13px;
                border: 2px solid black;}
        }
        .lintern{
            grid-area: lintern;
            h2{
                color: black;
                background-color: white;
                border: 3px solid black;
                margin: 0;
            }
            img{
                width: 280px;
                height: 322px;
                box-shadow: 5px -3px 13px;
                border: 2px solid black;}
        }
    }
    #carouselExampleIndicators{
        .carousel-inner{
            .carousel-item{
                .d-blocke{
                    width: 256px;
                    height: 320px;
                }
            }
        }
    }
}