*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    color: white;
    }
td {
    padding: 10px;}
h1{
    color: black;
    background-color: #ffffff;
    border: 3px solid black;
    animation: H1 1s 0s
    }
@keyframes H1 {
    from{
        margin-left: 100%;
        width: 300px;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
